.avatar{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    object-fit: cover;
}
.post{
    margin-bottom: 10px;
    border-radius: 20px;

}
.post:nth-child(odd){
    background-color: cornflowerblue;
}
.count{

}