.header{
    grid-area: header;
    background-color: blue;
}
.img{
    width: 100px;
    height: 60px;
}
.wrapper{
    /*display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px;
    grid-template-areas:
  "img search auth";*/
    display: flex;

}
.auth{
    grid-area: auth;
}
.search{
    grid-area: search;




}