
.nav{
    margin-top: 10px;
    grid-area: nav;
    height: 100%;
}
.item a{
    color: #000;
}
.nav div{
    margin-bottom: 20px;


}
.nav div:hover{
    cursor: pointer;
}

.active {
    display: inherit;
    background-color: #f6f7f9;
    font-weight: bold;
    border: 1px solid #e8eaec;
}
