
.img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.profileWrapper{
    padding-left: 10px;
}
.communicateUser{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #e8eaec;
    border-radius: 5px;

}
.mainPicture{
}
.btnCommunication{
    background-color: #f6f7f9;
    border: 1px solid #e8eaec;
    padding: 10px 10px;
}
.btnCommunication:hover{

    cursor: pointer;
    background-color: #4267b2;
    transition: all ease-in .2s;
    color: #fff;
}

.btnSendMessage{
    background-color: #4267b2;
    color: white;
    font-weight: bold;
    padding: 10px 140px;
    border: none;
    border-radius: 5px;
}
.btnSendMessage:hover{
    cursor: pointer;
}
.leftSide, .rightSide{
    padding: 0 10px;
}
.postsAndAboutWrapper{
    display: flex;
    justify-content: space-between;
}
.posts{
    width: 58%;
    border: 1px solid #e8eaec;
    border-radius: 5px;
}
.about{
    width: 35%;
}
.aboutUser{
    border: 1px solid #e8eaec;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}
