body {
  background-color: #e9ebee;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  padding-left: 20px;
  font-size: 16px;
}
.app-wrapper{
  display: grid;
  grid-template-rows: 0 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "header header"
  "nav content";
  max-width: 1200px;
  margin: 0 auto;
}
.app-wrapper-content{
  grid-area: content;


}

