body {
  background-color: #3a444a;
}
a{
  color: white;
  text-decoration: none;
  padding-left: 20px;
  font-size: 16px;
}
.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
  "header header"
  "nav content";
  max-width: 1200px;
  margin: 0 auto;
}
.app-wrapper-content{
  grid-area: content;


}

